# !IMPORTANT: This is a template file. Copy it to a file named ".env" and fill in the values before running the application.
# Do not change the template file directly, unless you are aware of the CI/CD implications.
# This template is used in the build pipeline to generate the actual .env file for the application.

# Environment configuration
NEXT_PUBLIC_ENVIRONMENT=<NEXT_PUBLIC_ENVIRONMENT>

# API Configuration (per service for local development)
NEXT_PUBLIC_API_BASE_URL_CORE=/api/core
NEXT_PUBLIC_API_BASE_URL_MONITORING=/api/monitoring
NEXT_PUBLIC_API_BASE_URL_MESSAGING=/api/messaging
NEXT_PUBLIC_API_BASE_URL_ONBOARDING=/api/onboarding

# APP Configuration
NEXT_PUBLIC_APP_NAME=Medes
NEXT_PUBLIC_APP_VERSION=1.1.1

# Cognito Configuration
NEXT_PUBLIC_COGNITO_ISSUER_URL=<NEXT_PUBLIC_COGNITO_ISSUER_URL>
NEXT_PUBLIC_COGNITO_APP_CLIENT_ID=<NEXT_PUBLIC_COGNITO_APP_CLIENT_ID>